body
{
	background-color: #fffff;
	/*color: #efefef;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	/*color: #C0D06F;
	margin: 20px;*/
}

.avatar {
    float: right;
    width: 120px;
    height: 120px;
}

.avatar {
    animation-name: avatar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes avatar {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0.4;
    }
    66% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}